.grid{
  display: grid;
  grid-template-columns: repeat(3, 0fr);

  justify-content: center;
  align-items: center;

}

.modalBG {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.winner {
  font-size: 5vh;
}

.winner_X {
  color: #F36478; 
}

.winner_O {
  color: #5BA8EB;
}

.close {
  font-size: 20px;
  border: 2px;
  background-color: black;
}

.closeX {
  color: #F36478;
}

.closeO {
  color:#5BA8EB;
}

.modal_container {
  /* background-color: #1E2429; */
  flex-direction: column;
  padding: 100px;
}

.xturn {
  font-weight: bolder;
  border-radius: 30vw;
  display: flex;
  color: #F36478;
  width: 100%;
  justify-content: space-evenly;
}

.oturn {
  font-weight: bolder;
  border-radius: 30vw;
  display: flex;
  color: #5BA8EB;
  width: 100%;
  justify-content: space-evenly;
}

.modal_content {
  text-align: center;
  margin-top: 10px;
  color: white;
}

.square{
  width: 20vh;
  height: 20vh;
  font-size: 8vw;
  font-weight: 700;
  background-color: black;
}

.square_x {
  color: #F36478;
}

.square_o {
 color: #5BA8EB;
}

.title{
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

p{
  text-align: center;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: white;
}

.restart {
  margin-left: 47%;
  margin-right: 47%;
  margin-top: 2.5%;
  align-items: center;
}

.sus_0 {
  border-left: white;
  border-top: white;
}

.sus_1 {
  border-top: white;
}

.sus_2 {
  border-top: white;
  border-right: white;
}

.sus_3 {
  border-left: white;
}

.sus_5 {
  border-right: white;
}

.sus_6 {
  border-left: white;
  border-bottom: white;
}

.sus_7{border-bottom: white;}
.sus_8{border-right: white; border-bottom: white;}